* {
    font-family: "Noto Sans", sans-serif;
    margin: 0;
    padding: 0;
    color: #d5dde2;
}

input,
select,
option,
button {
    color: rgb(24, 24, 32);
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    background-color: #172027;
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
}

button {
    padding: 4px;
}

h1 {
    margin: 12px;
}

.label {
    margin: 2px;
}

.row {
    margin: 4px;
    text-align: center;
}

.button.row {
    margin-top: 12px;
}

.hidden {
    display: none;
}
